@import '../../styles/variables.less';

.main {
  width: 100%;

  .section {
    width: 968px;
    margin: 0 auto 39px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .more {
    background: none;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: @blue;
  }
}
