@import "../../styles/variables.less";

.main {
  width: 100%;
  padding: 40px 0 40px 0;
  margin: 0 auto;

  .section {
    width: 968px;
    margin: 0 auto 39px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .more {
    background: none;
    border: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: @blue;
  }

  @media (max-width: 1000px) {
    .section {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      width: 800px;
      margin: 0 auto;
justify-items: center;
    }
  }

   @media (max-width: 812px) {
    .section {
      grid-template-columns: repeat(2, 1fr);
      width: 518px;
    }
  }

  @media (max-width: 522px) {
    .section {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      width: 100%;
    }
  }
}

.section-alternative {
  grid-template-columns: repeat(2, 1fr) !important;
  width: 968px;
  margin: 0 auto 39px;
  padding: 0;
  display: grid;
  gap: 24px;

  @media (max-width: 1000px) {
  grid-template-columns: repeat(1, 1fr) !important;
    justify-items: center;
    width: 100%;
  }
}
